<html>
<head>

</head>
<body>
<div align="center" style="margin-top:10px">
  <p>User details :</p>
  You have signed in as " <%= @user.email %> "<br>
  <%= link_to "Enter student details", students_new_student_path %>
</div>
</body>
</html>