<html>
<head>
</head>
<body>
<div id="main" class="hero-unit h1 ">
  <h1>Welcome to Student Information System</h1>
</div>
<div align="center">
  <%= link_to "Sign Up", users_new_path %>
  <%= link_to "Sign In", new_session_path %>
</div>
</body>
</html>

